<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.householdledger.member.mapper.UserMapper">
    <!-- User Entity와 DB 컬럼 매핑 -->
    <select id="findByUserId" resultType="UserDTO">
    SELECT user_no
         , user_id
         , user_pw
         , user_nm
         , email
         , status_cd
         , reg_dt
         , mod_dt
      FROM users
     WHERE user_id = #{userId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="userNo">
    INSERT
      INTO  users
          ( user_id
          , user_pw
          , user_nm
          , email
          , status_cd
          , reg_dt )
    VALUES ( #{userId}
           , #{userPw}
           , #{userNm}
           , #{email}
           , 'Y'
           , NOW() )
    </insert>
</mapper>